{{! Post Info Partial by Jack Loveday}}

{{! Display Current User info}}
<article class="post">
    <div class="content">
        {{! Show username and posts}}
        <p>User Name: {{posts.[0].user.username}}</p>
        <p>Posts: {{posts.length}}</p>
    </div>
</article>