{{! Main Layout by Jack Loveday}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loveday Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Loveday Tech Blog</a>
            </h1>
            <nav>
                {{! Navigation to Homepage}}
                <span><a href="/">Homepage</a></span>
                {{! If logged in, users Dashboard & Logout funciton}}
                {{#if loggedIn}}
                <a href="/dashboard">Dashboard</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{! Otherwise, have Login function}}
                {{else}}
                <a href="/login">Login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Loveday Tech Blog 2021
        </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    {{! Check if logged in for logout script}}
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>