{{! Signup by Jack Loveday}}

<header>
    <h2> Loveday Tech Blog </h2>
</header>

{{! Create user signup form}}
<form class="signup-form">
    <div>
        {{! Username for posts}}
        <label for="username-signup">Username: </label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        {{! User email for login}}
        <label for="email-signup">Email Address: </label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        {{! User Password}}
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        {{! Submit/Signup button}}
        <button type="submit">Submit</button>
    </div>
</form>

{{! Give users option to sign in with existing account}}
<a href="/login">Already have an account? Login here.</a>

{{! Call signup script}}
<script src="/javascript/signup.js"></script>